@media only screen and (max-width: 1441px) {
    .carousel-bg {
        width: 95.6%;
        max-width: 95.6%;
    }

    .last-image-container {
        width: 95.6%;
        max-width: 95.6%;
    }
}

@media only screen and (max-width: 1201px) {
    .balloon {
        width: 400px;
        max-width: 100%;
        top: 10%;
    }

    .carousel-bg {
        width: 94%;
        max-width: 94%;
    }

    .carousel-image img {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    .last-image-container {
        width: 94%;
        max-width: 94%;
        margin: -5rem auto 0 auto;
    }
}

@media only screen and (max-width: 993px) {
    .carousel-bg {
        width: 93%;
        max-width: 93%;
    }

    .carousel-image {
        gap: .5rem;
    }

    .carousel-image img {
        width: 250px;
    }

    .last-image-container {
        width: 93%;
        max-width: 93%;
    }
}

@media only screen and (max-width: 801px) {
    #nav {
        display: none;
    }

    #nav.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.5);
        color: #000000;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-radius: 15px;
        z-index: 4;
        opacity: 1;
        animation: navAnimation 1s ease-in-out;
    }

    #nav.active li{
        padding: 1rem 0;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .balloon {
        width: 50%;
        max-width: 60%;
    }
    
    .image-container {
        height: 60vh;
        max-height: 60vh;
    }

    .carousel-bg {
        width: 91%;
        max-width: 91%;
    }

    .carousel-image img {
        width: 170px;
    }

    .last-image-container {
        width: 91%;
        max-width: 91%;
    }
}

@media only screen and (max-width: 601px) {
    html {
        font-size: 80%;
    }

    .balloon {
        width: 50%;
        max-width: 60%;
        top: 20%;
    }

    .carousel-bg {
        width: 89%;
        max-width: 89%;
    }

    .last-image-container {
        width: 89%;
        max-width: 89%;
        margin: -1rem auto 0 auto;
    }

    .footer {
        flex-direction: column;
    }

    .contact-container, .reserved {
        text-align: center;
    }
}

@media only screen and (max-width: 501px) {
    html {
        font-size: 70%;
    }

    .balloon {
        top: 40%;
    }

    .the-event {
        padding: 0 10%;
    }

    .carousel-bg {
        width: 84%;
        max-width: 84%;
    }

    .carousel-image {
        gap: .5rem;
    }

    .carousel-image img {
        width: 100px;
        height: 250px;
    }

    .last-section .text-container {
        padding: 0 10%;
    }

    .text-container h1,
    .first-p {
        padding-bottom: 1rem;
    }

    .last-image-container {
        width: 84%;
        max-width: 84%;
    }
}

@media only screen and (max-width: 429px) {
    /* html {
        scroll-padding-top: 20%;
    } */

    .background-container {
        height: 90%;
    }
    
    .background {
        top: -10%;
        left: -20%;
        width: 140%; 
    }

    .image-container {
        height: 50vh;
        max-height: 50vh;
    }

    .balloon {
        top: 50%;
    }

    .header p {
        padding: 1.5rem 4rem 0 4rem;
    }

    .carousel-bg {
        width: 84%;
        max-width: 84%;
    }

    .last-image-container {
        width: 84%;
        max-width: 84%;
    }
}

@media only screen and (max-width: 376px) {
    .carousel-bg {
        width: 87.5%;
        max-width: 87.5%;
    }

    .carousel-btn {
        bottom: 10rem;
    }

    .last-image-container {
        width: 87.5%;
        max-width: 87.5%;
    }
}

@keyframes navAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }